<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>cn.itcast.web.session.Demo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.session.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>text</servlet-name>
    <servlet-class>cn.itcast.web.session.text</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.session.viewUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>buyServlet</servlet-name>
    <servlet-class>cn.itcast.web.session.buyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkServlet</servlet-name>
    <servlet-class>cn.itcast.web.session.checkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>baseServlet</servlet-name>
    <servlet-class>cn.itcast.web.session.baseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.itcast.web.session.LogoutServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/Demo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>text</servlet-name>
    <url-pattern>/text</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewUIServlet</servlet-name>
    <url-pattern>/viewUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buyServlet</servlet-name>
    <url-pattern>/buyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkServlet</servlet-name>
    <url-pattern>/checkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>baseServlet</servlet-name>
    <url-pattern>/baseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
